* {
  font-family: 'Amatic SC';
}

.lead {
  font-family: 'Montserrat';
}

.container {
  max-width: 960px;
}

a:link {
  text-decoration: none;
}

/* HEADER */
.site-header {
  background-color: rgba(35, 35, 35);
  font-size: 200%;
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/* FOOTER */
.site-footer {
  background-color: rgba(35, 35, 35);
  font-size: 200%;
}
.site-footer a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-footer a:hover {
  color: #fff;
  text-decoration: none;
}

/* CARDS */
.nft-left {
  position: absolute;
  right: 3%;
  bottom: 0%;
  width: 25vw;
  height: 25vw;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(10deg);
}

.nft-right {
  top: 0%;
  right: auto;
  bottom: 0;
  left: 3%;
  background-color: #e5e5e5;
}

.nft-left:hover {
  -webkit-animation:spin 0.2s ease-in;
  -moz-animation:spin 0.2s ease-in;
  animation:spin 0.2s ease-in;
  animation-fill-mode: forwards;
}

@-moz-keyframes spin { to { -moz-transform: rotate(15deg); }}
@-webkit-keyframes spin { to { -webkit-transform: rotate(15deg); }}
@keyframes spin { to { transform: rotate(15deg); }}

/* UTILITIES */
.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bg-dark {
  background-color: rgb(35,35,35) !important;
}

.on-top {
  z-index: 10000;
}

/* SHINE */
.shine {
  color: rgba(255,255,255,0.1);
  
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -webkit-animation: shimmer 2s infinite;
  -moz-animation: shimmer 2s infinite;
  animation: shimmer 2s infinite;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}