* {
  font-family: 'Amatic SC';
}

.container {
  max-width: 960px;
}

/*
  * Custom translucent site header
  */

.site-header {
  background-color: rgba(35, 35, 35);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.nft-left {
  position: absolute;
  right: 5%;
  bottom: 0%;
  width: 25vw;
  height: 25vw;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(10deg);
}

.nft-right {
  top: 0%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.nft-left:hover {
  -webkit-animation:spin 0.2s ease-in;
  -moz-animation:spin 0.2s ease-in;
  animation:spin 0.2s ease-in;
  animation-fill-mode: forwards;
}

@-moz-keyframes spin { to { -moz-transform: rotate(15deg); }}
@-webkit-keyframes spin { to { -webkit-transform: rotate(15deg); }}
@keyframes spin { to { transform: rotate(15deg); }}

/*
  * Extra utilities
  */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bg-dark {
  background-color: rgb(35,35,35) !important;
}

.on-top {
  z-index: 10000;
}